@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

:root{
    --purple: #6643ad;
    --text-color-1: #444;
    --text-color-2: #666;
    --bg-color-1: #fff;
    --bg-color-2: #eee;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--purple);
}

body{
    background: var(--bg-color-2);
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}


@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 991px){
    header{
        padding: 2rem;
    }
}

@media(max-width: 768px){
   #menu-bar{
    display: initial;
   }
   
    header .menu{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: var(--bg-color-1);
        border-top: .1rem solid var(--purple);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }   

    header .menu.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .menu a {
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: var(--bg-color-2);
    }
    html::-webkit-scrollbar{
        width: .8rem;
    }
    
    html::-webkit-scrollbar-track{
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb{
        background: var(--purple);
    }    
}


@media(max-width:450px){
    html{
        font-size: 50%;
    }
}