.form-container form{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.form-container form .inputbox{
    flex: 1 1 23rem;
}

.form-container form .inputbox span{
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.form-container form .inputbox input {
    font-size: 1.5rem;
    color: var(--text-color-1);
    background: var(--bg-color-2);
    border-radius: .5rem;
    margin: .5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .inputbox textarea {
    height: 20rem;
    resize: none;
}

.form-container form .inputbox .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--purple);
    border-radius: .5rem;
}

.form-container form btn {
    flex: 1 1 23rem;
}

.form-container form .inputbox textarea {
    font-size: 1.5rem;
    color: var(--text-color-1);
    background: var(--bg-color-2);
    border-radius: .5rem;
    margin: .5rem 0;
    text-transform: none;
    width: 100%;
    padding: 1rem;
}

.form-container form .inputbox textarea {
    height: 20rem;
    resize: none;
}
